{% extends "base.html" %}

{% block content %}

<div class="contacts-page">

    <div class="contacts-card">

        <div class="contacts-header">
            <p class="contacts-label">Contact Information</p>

            <h1>Dmytro Prokhach</h1>

        </div>

        <div class="contacts-grid">

            <div class="contact-item">
                <span class="contact-title">Full Name</span>
                <span class="contact-value">
                    Dmytro Prokhach
                </span>
            </div>

            <div class="contact-item">
                <span class="contact-title">Student ID</span>
                <span class="contact-value">
                    23-02511
                </span>
            </div>

            <div class="contact-item">
                <span class="contact-title">Email</span>

                <a href="mailto:dmytro.prokhach@vvk.lt">
                    dmytro.prokhach@vvk.lt
                </a>
            </div>

            <div class="contact-item">
                <span class="contact-title">Project</span>
                <span class="contact-value">
                    Price Comparison System
                </span>
            </div>

            <div class="contact-item">
                <span class="contact-title">Institution</span>
                <span class="contact-value">
                    Vilnius Business College
                </span>
            </div>

        </div>

    </div>

</div>

{% endblock %}