{% extends "base.html" %}

{% block content %}

<div class="stores-container">

    <h2 class="stores-title">Stores</h2>

    <div class="stores-grid">

        <a href="https://pigu.lt/lt/" class="store-card">
            <img src="/media/avatars/store1.webp" alt="Pigu">
        </a>

        <a href="https://www.bite.lt/" class="store-card">
            <img src="/media/avatars/store2.jpg" alt="Bite">
        </a>

        <a href="https://www.telia.lt/privatiems" class="store-card">
            <img src="/media/avatars/store3.png" alt="Telia">
        </a>

        <a href="https://www.senukai.lt/" class="store-card">
            <img src="/media/avatars/store4.png" alt="Senukai">
        </a>

    </div>

</div>

{% endblock %}